@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1.25rem;
}

#top{
  background:#e2502c;
  margin:auto;

}
#top1{
  background:#185B9D;
  margin:auto;

}

p3{
    font-size: 16px;
    font-family: "Raleway";
    color: #e2502c;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

h5{
font-family: "playfair display";
}

.tyf{
font-size: 48px;
padding: 60px 0;
    color: #ffffff;
}

.big{
 max-width:1270px;
  margin:auto;
  padding: 45px 0px ;
}

.box{
  font-family: "playfair display";
  justify-content: space-between;
  align-content: center;
  display:flex;
}

.bc{
  font-family: "poppins";
  font-size: 24px;
}

#hum{
  padding: 70px 10px;
}

#footer{
  background: #e2502c;
  margin:auto;
}
#footer1{
  background: #185B9D;
  margin:auto;
}

.tdblogo{
  padding: 40px 0;
  width: 345px;

}

.ca{
  font-family: poppins;
  font-size: 24px;
}

.pa{
  font-family: "poppins";
  color: white;
  justify-content: space-between;
  align-content: center;
  display:flex;
  font-size: 24px;
  margin-left: auto;
}

.folo a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .top {
    float: none;
    width: 95%;
  }
  @media screen and (max-width: 699px) {
  .topnav a {
    float: none;
    width: 100%;
  }

    @media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
    }
